@using EsportStats.Shared.DTO


<AuthorizeView>
    <Authorized>
        <div class="row">
            <div class="col-md-1">
                <img class="w-100" src="@context.User.FindFirst("picture")?.Value" />
            </div>
            <div class="col-md-6">
                <h3>Hello @context.User.FindFirst("name")?.Value!</h3>
                <p>You have the following friends who play Dota 2, you will be able to compare your statistics against theirs!</p>
            </div>
        </div>        
    </Authorized>    
</AuthorizeView>

<table class="friends table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col" colspan="2">Player</th>
            <th scope="col">Hours played</th>
        </tr>
    </thead>
    @if (isLoaded)
    {
        <tbody>
            @foreach (var f in friends)
            {
                <tr>
                    <td><img class="w-100" src="@f.Avatar" /></td>
                    <td>@f.Name</td>

                    @{
                        int hours = f.Playtime.Value / 60;
                    }
                    <td class="text-right"> @(f.Playtime.HasValue ? $"{hours} h" : "Unknown")</td>
                </tr>
            }
        </tbody>      
    }
    else
    {
        <tbody>
            <tr class="bg-transparent">                
                <td colspan="3" class="text-center">
                    <p>Loading...</p>
                    <p><img src="images/spinner.svg" alt="Loading..." title="Loading..."></p>
                </td>
            </tr>
        </tbody>
    }


</table>
