@using EsportStats.Shared.DTO


<AuthorizeView>
    <Authorized>
        <div class="row">
            <div class="d-none d-lg-inline-block col-lg-1">
                <img class="w-100 profile-pic" src="@context.User.FindFirst("picture")?.Value" />
            </div>
            <div class="col-md-12 col-lg-10 col-xl-5">
                <h3>Hello @context.User.FindFirst("name")?.Value!</h3>
                <p>You have the following friends who play Dota 2, you will be able to compare your statistics against theirs!</p>
            </div>
        </div>        
    </Authorized>    
</AuthorizeView>

<table class="friends table">
    <thead>
        <tr>
            <th scope="col" colspan="2">Player</th>
            <th scope="col">Time spent in Dota 2</th>
        </tr>
    </thead>
    @if (isLoaded)
    {
        <tbody>
            @foreach (var f in friends)
            {
            <tr class="@(f.IsCurrentPlayer ? "you" : "")">
                <td><img class="w-100 profile-pic" src="@f.Avatar" /></td>
                <td>
                    <a href="@f.ProfileUrl" target="_blank" title="@f.Name on Steam">
                        <span>
                            @f.Name
                        </span>
                        @if (f.IsCurrentPlayer)
                        {
                            <span>(You)</span>
                        }
                    </a>
                </td>

                @{

                    if (f.Playtime.HasValue)
                    {
                        int totalHours = f.Playtime.Value / 60;
                        // 8760 hours in a year
                        int daysHours = totalHours % 8760;
                        int years = (totalHours - daysHours) / 8760;
                        int hours = daysHours % 24;
                        int days = (daysHours - hours) / 24;

                        string output = string.Empty;

                        if (years > 0)
                        {
                            output += years.ToString() + " year";
                            output += years == 1 ? " " : "s ";
                        }
                        if (years > 0 || days > 0)
                        {
                            output += days.ToString() + " day";
                            output += days == 1 ? " " : "s ";
                        }
                        if (years > 0 || days > 0 || hours > 0)
                        {
                            output += hours.ToString() + " hour";
                            output += hours == 1 ? "" : "s";
                        }
                        else
                        {
                            output = "0 hours";
                        }

                        <td class="text-right">@output</td>
                    }
                    else
                    {
                        <td class="text-right">Unknown</td>
                    }
                }
            </tr>
            }
        </tbody>      
    }
    else
    {
        <LoadingBody />
    }


</table>
