@using EsportStats.Shared.Enums
@using System.Linq

<div class="text-center">
    <p class="lead">Select a hero to compare the amount of games played.</p>
    <EditForm Model="selection" id="metric-selection">
        <div class="form-group">
            <div class="input-group">
                <InputSelect @bind-Value="selection.SelectedHero" class="form-control">
                    @{
                        List<Hero> enumValues = Enum.GetValues(typeof(Hero)).OfType<Hero>().OrderBy(h => h.GetDisplayName()).ToList();
                        enumValues.Remove(Hero.PleaseSelect);
                        enumValues.Insert(0, Hero.PleaseSelect);
                        foreach (var value in enumValues)
                        {
                            <option value="@value">@value.GetDisplayName()</option>
                        }
                    }
                </InputSelect>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" @onclick="HandleChanges">Refresh</button>
                </div>
            </div>
        </div>
    </EditForm>
</div>

@if (selection.SelectedHero == Hero.PleaseSelect)
{
    <table class="hero-stats table">
        <thead>
            <tr>
                <th scope="col" colspan="2">Player</th>
                <th scope="col" class="text-right">Matches</th>
            </tr>
        </thead>
        @if (isLoading)
        {
            <LoadingBody />
        }
    </table>

    @if (!isLoading)
    {
        <p class="text-center text-muted font-italic">No hero has been selected yet!</p>
    }

}
else
{
    <table class="hero-stats table">
        <thead>
            <tr>
                <th scope="col" colspan="2">Player</th>
                <th scope="col" class="text-right">Matches</th>
            </tr>
        </thead>
        @if (isLoading)
        {
            <LoadingBody />
        }
        else
        {
            @if (isError)
            {
                <ErrorBody />
            }
            @if (isServiceDown)
            {
                <ServiceDownBody />
            }
            else
            {
                <tbody>
                    @foreach (var e in entries)
                    {
                        <tr class="@(e.Friend.IsCurrentPlayer ? "you" : "")">
                            <td><img class="w-100 profile-pic" src="@e.Friend.Avatar" /></td>
                            <td>
                                <a href="@e.Friend.ProfileUrl" target="_blank" title="@e.Friend.Name on Steam">
                                    <span>
                                        @e.Friend.Name
                                    </span>
                                    @if (e.Friend.IsCurrentPlayer)
                                    {
                                        <span>(You)</span>
                                    }
                                </a>
                            </td>
                            <td class="text-right">
                                @e.Value
                            </td>
                        </tr>
                    }
                </tbody>
            }
        }
    </table>
}

