@page "/lists"

@using EsportStats.Shared.Enums

<h3>Top Lists</h3>

<div class="text-center">
    <p class="lead">Select a statistic to compare by:</p>

    <EditForm Model="selection" id="metric-selection">
        <div class="form-group">
            <div class="input-group">
                <InputSelect @bind-Value="selection.Selected"
                             class="form-control">
                    @{
                        List<Metric> enumValues = Enum.GetValues(typeof(Metric)).OfType<Metric>().OrderBy(h => h.GetDisplayName()).ToList();
                        enumValues.Remove(Metric.PleaseSelect);
                        enumValues.Insert(0, Metric.PleaseSelect);
                        foreach (var value in enumValues)
                        {
                            <option value="@value">@value.GetDisplayName()</option>
                        }
                    }
                </InputSelect>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" @onclick="HandleChanges">Refresh</button>
                </div>
            </div>
        </div>
    </EditForm>
</div>

@if (selection.CurrentlyDisplayed == Metric.PleaseSelect)
{
    <table class="toplist table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col" colspan="2">Player</th>
                <th scope="col">Hero</th>
                <th scope="col" class="text-right">Match ID</th>
                <th scope="col" class="text-right">Value</th>
            </tr>
        </thead>
        <tbody>
        
        </tbody>
    </table>

    <p class="text-center text-muted font-italic">No statistic has been selected yet!</p>
}
else
{
    <table class="toplist table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col" colspan="2">Player</th>
                <th scope="col">Hero</th>
                <th scope="col" class="text-right">Match ID</th>
                <th scope="col" class="text-right">@selection.CurrentlyDisplayed.GetDisplayName()</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in entries)
            {
                <tr>
                    <td><img class="w-100" src="@e.Friend.Avatar" /></td>
                    <td>@e.Friend.Name</td>
                    <td><img class="w-100" src="@e.Hero.GetThumbnailUrl()" /></td>
                    <td class="text-right">
                        @e.MatchId
                    </td>
                    <td class="text-right">
                        @e.Value
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

