@page "/lists"

@using EsportStats.Shared.Enums

<h3>Top Lists</h3>

<div class="text-center">
    <p class="lead">Select a statistic to compare by:</p>

    <EditForm Model="selection" id="metric-selection">
        <div class="form-group">
            <div class="input-group">
                <InputSelect @bind-Value="selection.Selected"
                             class="form-control">
                    @{
                        List<Metric> enumValues = Enum.GetValues(typeof(Metric)).OfType<Metric>().OrderBy(h => h.GetDisplayName()).ToList();
                        enumValues.Remove(Metric.PleaseSelect);
                        enumValues.Insert(0, Metric.PleaseSelect);
                        foreach (var value in enumValues)
                        {
                            <option value="@value">@value.GetDisplayName()</option>
                        }
                    }
                </InputSelect>
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button" @onclick="HandleChanges">Refresh</button>
                </div>
            </div>
        </div>
    </EditForm>
</div>

@if (selection.CurrentlyDisplayed == Metric.PleaseSelect)
{
    <table class="toplist table">
        <thead>
            <tr>
                <th scope="col" colspan="2">Player</th>
                <th scope="col">Hero</th>
                <th scope="col" class="text-right">Match ID</th>
                <th scope="col" class="text-right">Value</th>
            </tr>
        </thead>
        @if (isLoading)
        {
            <LoadingBody />
        }
    </table>

    @if (!isLoading)
    {
        <p class="text-center text-muted font-italic">No statistic has been selected yet!</p>
    }
    
}
else
{
    <table class="toplist table">
        <thead>
            <tr>
                <th scope="col" colspan="2">Player</th>
                <th scope="col">Hero</th>
                <th scope="col" class="text-right">Match ID</th>
                <th scope="col" class="text-right">@selection.CurrentlyDisplayed.GetDisplayName()</th>
            </tr>
        </thead>
        @if (isLoading)
        {
            <LoadingBody />
        } else
        {

            @if (isError)
            {
                <ErrorBody />
            }
            @if (isServiceDown)
            {
                <ServiceDownBody />
            } else
            {
                <tbody>
                    @foreach (var e in entries)
                    {
                        <tr class="@(e.Friend.IsCurrentPlayer ? "you" : "")">
                            <td><img class="w-100 pőrofile-pic" src="@e.Friend.Avatar" /></td>
                            <td>
                                <a href="@e.Friend.ProfileUrl" target="_blank" title="@e.Friend.Name on Steam">
                                    <span>
                                        @e.Friend.Name
                                    </span>
                                    @if (e.Friend.IsCurrentPlayer)
                                    {
                                        <span>(You)</span>
                                    }
                                </a>
                            </td>
                            <td><img class="w-100 profile-pic" src="@e.Hero.GetThumbnailUrl()" /></td>
                            <td class="text-right">
                                <a href="https://www.opendota.com/matches/@e.MatchId" title="View match at OpenDota" target="_blank" >
                                    @e.MatchId
                                </a>
                            </td>
                            <td class="text-right">
                                @if (selection.CurrentlyDisplayed == Metric.duration)
                                {
                                    var seconds = e.Value % 60;
                                    var minutes = (e.Value - seconds) / 60;

                                    <span>@(minutes.ToString("#00") + ":" + seconds.ToString("00"))</span>
                                }
                                else
                                {
                                    <span>@e.Value</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            }
        }        
    </table>
}

