@using EsportStats.Shared.DTO
@using EsportStats.Shared.Enums


<div class="text-center">
    <p class="lead">The biggest hero spammers: Players who played the most amount of games on a single hero.</p>
</div>
<table class="spammers table">
    <thead>
        <tr>
            <th scope="col" colspan="2">Player</th>
            <th scope="col">Hero</th>
            <th scope="col" class="text-right">Matches</th>
        </tr>
    </thead>
    @if (isLoaded)
    {
        @if (isError)
        {
            <ErrorBody />
        }
        @if (isServiceDown)
        {
            <ServiceDownBody />
        }
        else
        {
            <tbody>
                @foreach (var e in entries)
                {
                    <tr class="@(e.Friend.IsCurrentPlayer ? "you" : "")">
                        <td><img class="w-100 profile-pic" src="@e.Friend.Avatar" /></td>
                        <td>
                            <a href="@e.Friend.ProfileUrl" target="_blank" title="@e.Friend.Name on Steam">
                                <span> 
                                    @e.Friend.Name 
                                </span>
                                @if (e.Friend.IsCurrentPlayer)
                                {
                                    <span>(You)</span>
                                }
                            </a>
                        </td>
                        <td><img class="w-100 profile-pic" src="@e.Hero.GetThumbnailUrl()" title="@e.Hero.GetDisplayName()"/></td>
                        <td class="text-right">
                            @e.Value
                        </td>
                    </tr>
                }
            </tbody>
        }
    }
    else
    {
        <LoadingBody/>
    }

</table>